@font-face {
    font-family: 'museoslab';
    src: url('./fonts/exljbris_-_museoslab-300-webfont.eot');
    src: url('./fonts/exljbris_-_museoslab-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/exljbris_-_museoslab-300-webfont.woff') format('woff'),
         url('./fonts/exljbris_-_museoslab-300-webfont.ttf') format('truetype'),
         url('./fonts/exljbris_-_museoslab-300-webfont.svg#museo_slab300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'museoslab';
    src: url('./fonts/exljbris_-_museoslab-700-webfont.eot');
    src: url('./fonts/exljbris_-_museoslab-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/exljbris_-_museoslab-700-webfont.woff') format('woff'),
         url('./fonts/exljbris_-_museoslab-700-webfont.ttf') format('truetype'),
         url('./fonts/exljbris_-_museoslab-700-webfont.svg#museo_slab700') format('svg');
    font-weight: 700;
    font-style: normal;
}

.tk-museo-slab {
	font-family: 'museoslab';
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: sans-serif;

	position: relative;
	z-index: -3;

	color: #333333;
}

h2 {
	color: #00a0f0;
	font-size: 24pt;
	font-weight: 700;

	margin-bottom: 0.5em;
}
p {
	font-size: 16pt;
	font-weight: 300;

	margin-top: 0.25em;
}

.block, #date .block {
	display: inline-block;

	margin-left: .25em;
	margin-right: .25em;
}

.prize, .mention, .source {
	display: inline-block;

	margin-left: .75em;
	margin-right: .75em;
}

.violation {
	margin-left: auto;
	margin-right: auto;
	width: 24em;

	color: #ffff00;
	font-weight: bold;
	font-size: 2em;
	font-style: italic;
	text-align: center;
}

.mention > a, .mention > a:link, .mention > a:visited {
	color: #00a0f0;
}

.source > a, .source > a:link, .source > a:visited {
	color: #ffc600;
}

.prize > a, .prize > a:link, .prize > a:visited {
	color: #333333;
}

a.block, a.block:link, a.block:visited {
	color: #333333;
}

a.block:hover {
	color: #00a0f0;
}

.block-wrap {
	display: inline-block;
}
.block-wrap:first-child > .separator, .block-wrap:last-child > .separator {
	display: none;
}

.incentive {
	font-size: 0pt;
	margin-top: 24px;
}
.incentive:first-child {
	margin-top: 0px;
}

.slant {
	display: inline-block;

	padding-left: .75em;
	padding-right: .75em;
	padding-bottom: .125em;

	position: relative;

	font-size: 48pt;
}

.slant:after {
	content: "";
	cursor: pointer;

	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;

	left: 0;
	top: 0;

	text-align: center;

	transform: skewX(-45deg);
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
}

.separator {
	display: inline-block;
	background-color: red;

	height: .75em;
	width: .4em;
	transform: skewX(-45deg);
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
}

#header {
	background-image: url('../images/41cs.jpg');

	padding-top: 8em;
	padding-bottom: 8em;

	text-align: center;
}

.win {
	padding-top: 4em;
	padding-bottom: 4em;

	position: relative;
	z-index: -2;

	font-weight: 300;
}

#incentive {
	background-image: url('../images/atrium.jpg');
}
#trophy {
	height: 25%;
	max-height: 600px;
	background-image: url('../images/winners/trophy.jpg');
}

#free {
	background-image: url('../images/grid.jpg');
}

#sponsors a {
	margin-left: 24px;
	margin-right: 24px;
}

#sponsors-list {
	margin-top: 48px;
}

#social {
	position: relative;
	font-size: 0pt;
	z-index: -2;
	margin-top: 48px;
}

.full {
	background-position: center center;
	background-size: cover;
}

.logo {
	display: inline-block;

	margin-left: auto;
	margin-right: auto;
}

.info, #date .info {
	margin-top: 24px;

	width: 100%;

	font-size: 48pt;
	font-weight: 700;

	text-align: center;
}

.description {
	margin-top: 24px;

	padding-top: 24px;
	padding-bottom: 24px;

	color: white;

	font-size: 32pt;
	font-weight: 300;
	text-align: center;

	background-color: #00a0f0;

	position: relative;
	z-index: -2;
}

.rules {
	margin-top: 24px;
	
	padding: 24px;

	color: white;
	
	font-size: 14pt;
	font-weight: bold;
	
	background-color: #00a0f0;

	position: relative;
}

.tagline {
	padding-left: 24px;
	padding-right: 24px;
}

.alert {
	padding-top: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

.action {
	position: relative;

	margin-top: 24px;

	width: 100%;
	text-align: center;

	z-index: 1;
}

.button {
	cursor: pointer;

	font-size: 48pt;
	font-weight: 700;

	position: relative;
	display: inline-block;

	padding-left: .75em;
	padding-right: .75em;
	padding-bottom: .125em;

	margin-left: .5em;
	margin-right: .5em;

	color: white;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a#register, a#register:link {
	color: white;
}

a#register:hover {
	color: #ffc600;
}

.button:hover {
	color: #ffc600;
}

.button:hover:after {
	background-color: white;
}

.button:after {
	content: "";
	cursor: pointer;

	background-color: #ffc600;

	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;

	left: 0;
	top: 0;

	text-align: center;

	transform: skewX(-45deg);
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
}

.half {
	display: inline-block;
	width: 50%;
}
.half.left {
	text-align: right;
}
#incentive .half.left, #trophy .half.left {
	width: 45%;
}

.number {
	color: white;
	font-weight: 700;
}
.number:after {
	background-color: #ffc600;
}

.unit {
	color: white;
}
.unit:after {
	background-color: #00a0f0;
}

.questions, .winners, .prizes, .press {
	margin-left: auto;
	margin-right: auto;

	font-size: 0pt;
}

.questions, .press {
	max-width: 80%;
}

.press .separator {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.press > h2 {
	padding-bottom: 12px;
}

.press > h2 > span {
	padding-bottom: .125em;
}

.prizes {
	max-width: 90%;
}

.winners {
	max-width: 100%;
}

.qa, .winner {
	font-size: 48pt;

	max-width: 12em;
	text-align: left;

	display: inline-block;
	vertical-align: top;
}

.qa {
	width: 40%;
	margin-right: 5%;
}
.qa:nth-child(even) {
	margin-right: 0;
}

.winner {
	width: 28%;
	margin-right: 2.5%;
	margin-top: .25em;
}
.winner > img {
	width: 100%;
}
.winner > h2 {
	margin-top: .25em;
	font-size: 18pt;
}
.winner > h2 > a {
	font-size: 24pt;
}
.winner:last-child {
	margin-right: 0;
}

#faq {
	padding-bottom: 24px;
}

.pad {
	padding-bottom: 24px;
}

#by {
	font-size: 20pt;
	font-weight: 300;

	padding-bottom: 16px;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}

a, a:link, a:visited {
	color: red;
}

/*sponsors*/

.sponsor {
	margin: 5px 10px;
	vertical-align: middle;
}

/*.sponsor {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	filter: gray;
	opacity: 0.6;
}

.sponsor:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: none;
	opacity: 1.0;
}*/

.title {
	overflow-x: hidden;
}

.level-4 {
	width: 40%;
}

.level-3 {
	width: 32%;
}

.level-2 {
	width: 25%;
}

.level-1 {
	width: 18%;
}

.level-0 {
	width: 12%;
}

/*end sponsors*/

#social > a {
	color: white;
	height: 1em;
	width: 1em;

	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

#facebook {
	background-image: url('../images/FB-f-Logo__blue_114.png');
}
#facebook:after {
	background-color: #3b579d;
}

#twitter {
	background-image: url('../images/twitter.png');
}
#twitter:after {
	background-color: #55acee;
}

#tumblr {
	background-image: url('../images/tumblr_logo_white_blue_128.png');
}
#tumblr:after {
	background-color: #36465d;
}

#hackerleague {
	background-image: url('../images/hackerleague.png');
}
#hackerleague:after {
	background-color: #1c505e;
}

@media (max-width: 1024px) {
	.slant {
		font-size: 40pt;
	}
}

@media (max-width: 800px) {
	.slant {
		font-size: 32pt;
	}

	.button {
		font-size: 44pt;
	}

	.block-wrap {
		display: block;
	}

	.block-wrap:first-child > .separator, .block-wrap:last-child > .separator {
		display: inline-block;
	}
}

@media (max-width: 640px) {
	.slant {
		font-size: 28pt;
	}

	#incentive .half.left, #trophy .half.left {
		width: 40%;
	}
	#incentive .half.right, #trophy .half.right {
		width: 60%;
	}

	img.logo {
		width: 90%;
	}

	.button {
		font-size: 42pt;
	}

	.info, .block, .qa, .winner {
		font-size: 40pt;
	}

	.questions, .winners {
		margin-top: 24px;
	}

	.qa, .winner {
		width: 100%;
		margin-right: 0px;
	}

	.winner > p, .winner > h2 {
		margin-left: 5%;
		margin-right: 5%;
	}

	.qa h2, .winner h2 {
		margin-top: .25em;
		margin-bottom: 0em;
	}

	.prizes .separator {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 480px) {
	#header {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.slant {
		font-size: 20pt;
	}

	img.logo {
		width: 90%;
	}

	.info, .block, .qa, .winner {
		font-size: 30pt;
	}

	.description {
		font-size: 24pt;
		overflow: hidden;
	}

	.button {
		font-size: 36pt;
	}

	#date .info, #date .block {
		font-size: 26pt;
	}

	#date .block {
		margin-left: 0.1em;
	}
	.level-5 {
		width:80%;
	}

	.level-2 {
		width:70%;
	}

	.level-1 {
		width:60%;
	}

	.level-0 {
		width:50%;
	}

}
